@font-face {
  font-family: "Unbound";
  src: url(./Unbounded-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Playfair";
  src: url(./PlayfairDisplay-VariableFont_wght.ttf) format("truetype");
}
html {
  background-color: transparent;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  width: 100%;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-family: "Playfair", Georgia, 'Times New Roman', Times, serif;
  background-color: rgba(245, 245, 245, 0.99);
}
* {
  box-sizing: border-box;
}
h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
.header-name {
  color: rgb(64, 64, 64);
  letter-spacing: -.5px;
  font-weight: 800;
}
/* nav styles */
.mobile-hamburger {
  cursor: pointer;
  margin-right: 2rem;
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
  transition: 0.2s ease-in;
}
.mobile-hamburger .line {
  display: block;
  width: 32px;
  height: 4px;
  margin: 5px 0 5px 0;
  background-color: rgb(64, 64, 64);
  box-shadow: 0 0 2px rgba(64, 64, 64, 0.5);
  border-radius: 1.5px;
}
.mobile-hamburger:hover {
  box-shadow: 1px 1px 3px rgb(64, 64, 64);
}
.mobile-hamburger:active {
  box-shadow: 1px 1px 3px rgb(64, 64, 64);
  transform: scale(0.95);
}
.nav-links {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245);
  z-index: 2;
  margin: 0;
  transform: translateX(200px);
  transition: transform 300ms ease-in-out;
}
.nav-links a {
  display: block;
  width: inherit;
  text-align: center;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(64, 64, 64);
  transition: 300ms ease-in-out;
}
.nav-links a:hover,
.nav-links a:focus {
  transform: translateY(-3px);
  background-color: rgb(64, 64, 64);
  color: rgb(245, 245, 245);
}
.nav-overlay {
  position: fixed;
  top: -1px;
  left: 0;
  width: 100vw;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.expanded > .nav-links {
  display: flex;
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.expanded > .nav-overlay {
  height: 100vh;
  top: 0;
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
/* about page and nutrition page animation */
.about-animate,
.animate-title {
  width: fit-content;
}
.about-animate::after,
.animate-title::after {
  display: block;
  content: "";
  height: 4px;
  width: 100%;
  background-color: rgb(254, 7, 62);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 1s ease-out;
}
.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* content page tags reveal/hide */
.reveal > .tag-index-container {
  visibility: visible;
}
/* content page and tag page */
.content-wrapper {
  margin: 50vh 0;
}
.content-container {
  color: rgb(64, 64, 64);
  background-color: rgba(245, 245, 245, 0.99);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem 1.5rem 1.5rem;
  box-shadow: 0 0 3px rgb(64, 64, 64);
  border-radius: 3px;
  max-width: 575px;
}
.blogs-container,
.tag-container {
  margin: 0;
  padding: 0;
}
.tag-item {
  margin: 0.25em;
  border: dotted 1px rgb(161, 161, 161);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1em;
  color: rgb(64, 64, 64);
  background-color: #f8fcfd;
  transition: all .3s ease-in;
}
.tag-item:hover {
  border: 1px solid rgb(64, 64, 64);
  background-color: rgba(161, 161, 161, 0.3);
}
.tag-item:active {
  transform: scale(0.97);
  box-shadow: 1px 1px rgb(64, 64, 64);
}
.tag-item:focus {
  color: rgb(64, 64, 64);
}
/* blog post styling */
.blog-slot a,
.origin > a, 
.intel > a {
  font-weight: 500;
  color: rgb(53, 84, 136);
  text-decoration: 1px underline;
}
.blog-slot img,
.blog-main-image {
  max-width: 85vw;
  border-radius: 3px;
  box-shadow: 0 0 4px rgb(64, 64, 64);
}
.blog-slot li > ul {
  padding-left: 20px;
}
blockquote {
  background-color: rgba(152, 183, 242, 0.5);
  margin: 4px;
  padding: 0 16px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgb(161, 161, 161);
}
blockquote > p {
  text-align: center;
}
blockquote > p > em {
  font-size: 1.15rem;
}
.youtube-embed {
  width: 100%;
  aspect-ratio: 1.78;
}
iframe.instagram-media {
  min-width: 272px !important;
  align-self: center;
}
/* contact form */
.form-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
form.contact-form {
  display: grid;
  grid-template-columns: auto;
  min-width: 256px;
  width: 100%;
  max-width: 775px;
}
.contact-form > p {
  text-align: center;
}
.contact-form label {
  display: grid;
  width: inherit;
  justify-items: center;
}
.contact-form label > span:first-child {
  display: none;
}
.contact-form input, 
.contact-form textarea {
  min-height: 50px;
  max-width: 580px;
  width: 100%;
  font-family: "Playfair", Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
  letter-spacing: -0.3px;
  border: 2px solid rgb(211, 211, 211);
  border-radius: 3px;
  padding: 0.5rem;
  margin: 0.5rem 0;
}
.contact-form textarea {
  min-height: 100px;
}
.contact-form input:focus, 
.contact-form textarea:focus {
  border-color: rgb(53, 84, 136);
  border-color: rgb(254, 7, 62);
  outline: none;
}
button#submit-btn,
button#pseudo-submit-btn,
a.return-home {
  padding: 1rem 2rem;
  margin: 0.5rem;
  justify-self: center;
  border: 2px solid rgb(254, 7, 62);
  border-radius: 5px;
  background-color: rgb(254, 7, 62);
  color: rgb(245, 245, 245);
  font-family: "Unbound";
  font-size: 1.15rem;
  font-weight: 800;
  letter-spacing: 1px;
  box-shadow: 1px 1px 3px rgb(64, 64, 64);
  transition: all 0.25s ease-in;
}
button#submit-btn:hover {
  cursor: pointer;
}
button#submit-btn:active,
a.return-home:active {
  transform: scale(0.95);
  box-shadow: 1px 1px 5px rgb(64, 64, 64);
}
.success-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.success-contact-name {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 0;
}
a.return-home {
  font-size: 0.85rem;
  text-decoration: none;
}

@media screen and (min-width: 770px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: fit-content;
    position: unset;
    transform: translateX(0);
    width: auto;
    background: none;
    margin-right: 1rem;
  }
  a.nav-home {
    display: none;
  }
  .nav-links a {
    /* display: inline-block; */
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
  .nav-links a:hover,
  .nav-links a:focus {
    transform: translateY(-3px);
    background-color: transparent;
    color: rgb(64, 64, 64);
  }
  .nav-links a::after {
    display: block;
    background-color: rgb(64, 64, 64);
    /* position: relative;
    left: 0;
    bottom: 0; */
    content: "";
    height: 2px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    width: 100%;
  }
  .nav-links a:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
  .mobile-hamburger {
    display: none;
  }
  .content-container {
    max-width: 1250px;
  }
  .blogs-container,
  .tag-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .blog-slot img,
  .blog-main-image {
    max-width: 655px;
  }
  blockquote {
    padding: 0 24px;
    margin: 4px 16px;
  }
  blockquote > p > em {
    font-size: 1.3rem;
  }
  a.return-home {
    font-size: 1.15rem;
  }
}
@media screen and (min-width: 1000px) {
  .nav-links {
    margin-right: 2rem;
  }
  .nav-links a {
    font-size: 0.85rem;
    padding: 0.5rem 0.75rem;
  }
}