---
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await Astro.glob('../posts/*.mdx');
const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

const pageInfo = {
  title: 'Tags Index',
  description: `Search Amity's blog content by keywords, including: big wall, Yosemite, El Capitan, fueling, nutrition, and more.`
}
---

<BaseLayout page={pageInfo}>
  <h4>Find the tag you'd like to explore!</h4>
  <div class="tag-index-container">
    {uniqueTags.map((tag) => (
      <p class="tag-item"><a href={`/tags/${tag}`}>{tag}</a></p> 
      ))}
  </div>
</BaseLayout>
<style>
  a {
    color: #00539f;
  }
  .tag-index-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .tag-item {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>