---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Amity | About"
const skills = ["climbing", "skiing", "baking", "trying hard"]
const skillColor = "navy"
const fontWeight = 800;
const textCase = "uppercase"
---

<BaseLayout pageTitle={pageTitle}>
  <p>I'm a pro climber, soon-to-be registered dietician, and stoked on life!</p>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <style define:vars={{skillColor, fontWeight, textCase}}>
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>
</BaseLayout>
