---
import Achieve from "../components/Achieve.astro";
import Sponsor from "../components/Sponsor.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import wolverine from "../images/gallery/Wolverine.Lite.jpg";
import arrow from "../images/icons/arrow-simple-white.svg";

const pageInfo = {
  title: 'Amity | Athlete',
  description: 'Relentlessly pursuing big walls and big goals with tenacity and grit, Amity enjoys the challenge of pushing physical and mental limits in the vertical realm.'
}
const image = {
  url: wolverine,
  position: '60%',
  alt: 'Amity climbing Wolverine, 13a trad, onsight'
}
---

<BaseLayout page={pageInfo} img={image} url="https://amitywarme.com/athlete">
  <div class="athlete-spacer">
    <div class="athlete-title">
      <p class="athlete-title-one">PRO</p>
      <p class="athlete-title-two">CLIMBER</p>
    </div>
    <div class="scroll-container">
      <a href="#achievements" aria-label="Link to Achievements">
        <img class="down-arrow" src={arrow} alt="↓" aria-label="Scroll down">
      </a>
      <!-- <span>Scroll Down</span> -->
    </div>
  </div>
  <div id="achievements">
    <Achieve />
  </div>
  <Sponsor />
</BaseLayout>
<script defer>
  document.querySelector('div.mobile-hamburger').addEventListener('click', () => {
    document.querySelector('div.scroll-container').style.visibility = "hidden";
  })
  document.querySelector('div.nav-overlay').addEventListener('click', () => {
    document.querySelector('div.scroll-container').style.visibility = "visible";
  })
</script>
<style>
  .athlete-spacer {
    height: 88vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  p {
    font-family: "Unbound", Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 500;
    color: rgb(245, 245, 245);
    padding: 0 1vw 0 1vw;
    margin: 0;
  }
  .athlete-title {
    display: none;
  }
  .athlete-title-one {
  }
  .athlete-title-two {
  }
  .scroll-container {
    transition: visibility 200ms;
  }
  .scroll-container > a > img {
    height: 60px;
  }
  .down-arrow {
    animation: animateArrow 2s ease-in-out 1s 1 forwards;
  }
  @keyframes animateArrow {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(-40px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-40px);
    }
    100% {
      transform: translateY(0px);
    }
  }
</style>