---
import BaseLayout from "../layouts/BaseLayout.astro";
import logo from "/a-custom.png"
import ContactForm from "../components/ContactForm.jsx";

const fakeimg = {
  noimg: true,
  blur: true,
}
---

<BaseLayout pageTitle="Contact Me" img={fakeimg} url="https://amitywarme.com/contact">
  <div class="contact-wrapper">
    <div class="contact-content">
      <img src={logo} alt='Amity logo' />
      <h1>Reach Out</h1>
      <ContactForm client:load />
    </div>
  </div>
</BaseLayout>
<style>
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .contact-content {
    background-color: rgb(245, 245, 245);
    color: rgb(64,64,64);
    width: 100vw;
    padding: 1rem 2rem;
    border-radius: 3px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
  }
  img {
    height: 128px;
  }
  .contact-content > h1 {
    font-family: "Unbound";
    font-size: 2rem;
    margin-bottom: 0;
  }

  @media screen and (min-width: 480px) {
    .contact-content > h1 {
      font-size: 2.5rem;
    }
  }
</style>
