---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Contact Me">
  <h3>I'd love to hear from you!</h3>
<form action="https://formsubmit.co/connor.warme@gmail.com" method="POST" >
  <label for="first-name">
    <span>First Name:</span>
    <input type="text" id="first-name" name="first_name" required />
    <span class="error" aria-live="polite"></span>
  </label>
  <label for="family-name">
    <span>Family Name:</span>
    <input type="text" id="family-name" name="family_name" required />
    <span class="error" aria-live="polite"></span>
  </label>
  <label for="email">
    <span>Your Email:</span>
    <input type="email" id="email" name="email" required />
    <span class="error" aria-live="polite"></span>
  </label>
  <label for="message">
    <span>Your Message:</span>
    <textarea id="message" name="message" required />
    <span class="error" aria-live="polite"></span>
  </label>
  <button type="submit" id="submit-btn">Send</button>
</form>
</BaseLayout>

<style>
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
</style>