---
import BaseLayout from "../layouts/BaseLayout.astro";
import logo from "/a-custom.png"

const fakeimg = {
  noimg: true,
  blur: true,
}
---

<BaseLayout pageTitle="Contact Me" img={fakeimg}>
  <div class="contact-wrapper">
    <div class="contact-content">
      <img src={logo} alt='Amity logo' />
      <h1>Reach Out</h1>
      <p>I'd love to hear from you!</p>
      <form action="https://formsubmit.co/d3a941f5652a2e6a2dce66170423a79f" method="POST" >
        <!-- honeypot -->
        <input type="text" name="_honey" style="display:none">
        <!-- disable captcha -->
        <input type="hidden" name="_captcha" value="false">
        <!-- add webhook -->
        <input type="hidden" name="_webhook" value="https://connorwarme.github.io/pro-site/thanks-data/">
        <!-- next page -->
        <input type="hidden" name="_next" value="https://connorwarme.github.io/pro-site/thanks/">
        <label for="first-name">
          <span>First Name:</span>
          <input type="text" id="first-name" name="first_name" placeholder="First Name*" maxlength="256" required />
          <span class="error" aria-live="polite"></span>
        </label>
        <label for="family-name">
          <span>Family Name:</span>
          <input type="text" id="family-name" name="family_name" placeholder="Family Name" maxlength="256" />
          <span class="error" aria-live="polite"></span>
        </label>
        <label for="email">
          <span>Your Email:</span>
          <input type="email" id="email" name="email" placeholder="Email*" maxlength="256" required />
          <span class="error" aria-live="polite"></span>
        </label>
        <label for="message">
          <span>Your Message:</span>
          <textarea id="message" name="message" placeholder="Message" maxlength="5000" required />
          <span class="error" aria-live="polite"></span>
        </label>
        <button type="submit" id="submit-btn">Submit</button>
      </form>
    </div>
  </div>

</BaseLayout>

<style>
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .contact-content {
    background-color: rgb(245, 245, 245);
    color: rgb(64,64,64);
    width: 100vw;
    padding: 1rem 2rem;
    border-radius: 3px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
  }
  img {
    height: 128px;
  }
  h1 {
    font-family: "Unbound";
    font-size: 2rem;
    margin-bottom: 0;
  }
  form {
    display: grid;
    grid-template-columns: auto;
    min-width: 256px;
    width: 100%;
    max-width: 775px;
  }
  label {
    display: grid;
    width: inherit;
    justify-items: center;
  }
  label > span:first-child {
    display: none;
  }
  input, textarea {
    min-height: 50px;
    max-width: 580px;
    width: 100%;
    font-family: "Playfair", Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    letter-spacing: -0.3px;
    border: 2px solid rgb(211, 211, 211);
    border-radius: 3px;
    padding: 0.5rem;
    margin: 0.5rem 0;
  }
  textarea {
    min-height: 100px;
  }
  input:focus, 
  textarea:focus {
    border-color: rgb(53, 84, 136);
    border-color: rgb(254, 7, 62);
    outline: none;
  }
  button {
    padding: 1rem 2rem;
    margin: 0.5rem;
    justify-self: center;
    border: 2px solid rgb(254, 7, 62);
    border-radius: 5px;
    background-color: rgb(254, 7, 62);
    color: rgb(245, 245, 245);
    font-family: "Unbound";
    font-size: 1.15rem;
    font-weight: 800;
    letter-spacing: 1px;
    box-shadow: 1px 1px 3px rgb(64, 64, 64);
    transition: all 0.25s ease-in;
  }
  button:hover {
    cursor: pointer;
  }
  button:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 5px rgb(64, 64, 64);
  }
  @media screen and (min-width: 480px) {

  }
</style>