---
import BaseLayout from "../layouts/BaseLayout.astro";
import Counseling from "../components/Counseling.astro";
import arrow from "../images/icons/arrow-simple.svg";

const image = {
  url: "../src/images/gallery/sixstar.jpeg",
  position: '70%',
}

const symptoms = [
  'Feel confused about what to eat to feel your best?', 
  'Feel unsure how to properly fuel for your sport?',
  'Have difficulty planning meals or snacks?',
  'Want help navigating the nutrition information available on the internet?',
  'Experience chronic fatigue?',
  'Get sick or injured often?',
  'Struggle with stomach or gut issues/discomfort?',
  'Have difficulty building strength or gaining muscle?',
  'Train hard but fail to see improved performance?',
  'Feel too tired to complete intended workouts?',
  'Have a negative or complicated relationship with food?',
  'Miss menstrual cycles or have decreased sex drive?',
]
const fuel = [
  'Increase energy levels',
  'Speed up recovery after training or physical activity',
  'Build strength',
  'Improve power and endurance for your sport',
  'Normalize sleep patterns',
  'Reduce frequency of injury and illness',
  'Improve mental health',
  'Increase coordination and concentration',
  'Untangle disordered eating patterns and anxiety around food',
]
---

<BaseLayout pageTitle="Amity | Dietician" img={image}>
  <div class="nutrition-wrapper">
    <div class="nutrition-container">
      <h1 class="dietician-title animate-title">Dietician</h1>
      <div class="nutrition-intro-container">
        <p>I'm passionate about helping fellow athletes understand their fueling needs and using nutrition to maximize performance and promote long-term health.</p>
      </div>
      <div class="links-container">
        <div>Jump to:
          <img class="jump-arrow" src={arrow} aria-label="Click to reveal links" />
        </div>
        <ul class="links-list">
          <li><a href="#symptoms">Can You Relate?</a></li>
          <li><a href="#fuel">Fuel Well to Perform Well</a></li>
          <li><a href="#philosophy">My Philosophy</a></li>
          <li><a href="#counseling">Counseling Services</a></li>
          <li><a href="#creds">My Credentials</a></li>
        </ul>
      </div>
      <div id="symptoms" class="symptoms-container">
        <h2 class="animate-title">Can You Relate?</h2>
        <p><em>Do you:</em></p>
        <ul class="symptoms">
          {symptoms.map((item) => <li>{item} </li> )}
        </ul>
      </div>
      <div id="fuel" class="fuel-container">
        <h2 class="animate-title">Fuel Well to Perform</h2>
        <p><em>Proper nutrition can help:</em></p>
        <ul class="fuel">
          {fuel.map((item) => <li>{item}</li> )}
        </ul>
      </div>
      <div id="philosophy" class="philosophy-container">
        <h2 class="animate-title">Philosophy</h2>
        <p>My nutrition coaching focuses on helping you develop a sustainable approach to fueling that empowers you in your athletic performance and encourages long-term health.</p> 
        <p>I strive to offer a scientific and strategic approach to fueling that is tailored specifically to YOU - balancing your goals, protecting long-term health, and understanding your lifestyle and preferences. Together, we’ll work to understand your relationship with food, untangle unhealthy influences, and develop sustainable and practical strategies to help you utilize nutrition to optimize your health and performance.</p>
        <p>I promise to facilitate a safe, encouraging environment where you can share information without fear of judgment or shame regarding your health and weight history, body image and food-related struggles, along with dietary preferences and questions. </p>
      </div>
      <Counseling id="counseling"/>
      <div id="creds" class="creds-container">
        <h2 class="animate-title">Credentials</h2>
        <p>I have a Master's in Sports Nutrition from the University of Colorado in Colorado Springs (December 2021).</p>
        <p>In 2022, I completed 1000 supervised practice hours, split between the following organizations:</p>
        <ul class="creds-list">
          <li>Phoenix Suns, an NBA team, assisting the team dietician in providing performance nutrition support for the athletes</li>
          <li>Kendall Reagan Nutrition Center, an outpatient clinic in Fort Collins with a focus on eating disorder care</li>
          <li>The Vegetable Connection, a nonprofit that helps families access nutritious, locally grown food, provides nutrition education and hosts cooking classes</li>
        </ul>
        <p>I passed the Registered Dietician exam (spring 2023).</p>
      </div>
    </div>
  </div>
</BaseLayout>
<style>
  .nutrition-wrapper {
    display: block;
    margin-top: 55vh;
  }
  .nutrition-container {
    display: flex;
    flex-direction: column;
    color: rgb(64, 64, 64);
    background-color: rgb(245, 245, 245);
    width: 100vw;
    max-width: 575px;
    padding: 0 1.5rem;
    box-shadow: 0 0 3px rgb(64, 64, 64);
    border-radius: 3px;
  }
  .dietician-title {
    font-size: 2.5rem;
    margin: 0;
    align-self: center;
  }
  .animate-title::after {
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background-color: rgb(254, 7, 62);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 1s ease-out;
  }
  .active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .nutrition-intro-container > p {
    margin: 12px 0 4px 0;
  }
  em {
    font-style: normal;
    font-weight: 600;
  }
  .links-container {
    max-height: 40px;
    overflow: hidden;
    transition: all .3s ease;
  }
  .links-container.reveal {
    max-height: 200px;
  }
  .links-container > div {
    display: flex;
    align-items: center;
  }
  .jump-arrow {
    height: 40px;
    cursor: pointer;
  }
  .visible {
    transform: rotate(180deg);
  }
  .links-container > ul {
    visibility: hidden;
    margin: 0;
    list-style: circle;
  }
  .reveal > ul {
    visibility: visible;
  }
  .links-container a {
    color: rgb(64,64,64);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 300ms ease;
  }
  .links-container a:hover {
    cursor: pointer;
    border-color: rgb(64, 64, 64);
  }
  .symptoms,
  .fuel,
  .creds-list {
    padding-left: 10px;
  }
  .symptoms > li,
  .fuel > li,
  .creds-list > li {
    margin: 0;
    padding: 2px 22px;
    list-style: none;
    background-image: url("../src/images/icons/list-arrow.png");
    background-repeat: no-repeat;
    background-position: left 5px;
    background-size: 20px;
  }
  @media screen and (min-width: 770px) {
    .nutrition-wrapper {
      display: grid;
      grid-template-columns: 2fr 2fr 1fr;
    }
    .nutrition-container {
      grid-column: 1/2;
      margin-left: 2rem;
    }
  }
</style>
<script defer>
  const jump = document.querySelector('img.jump-arrow');
  jump.addEventListener('click', () => {
    jump.classList.toggle('visible');
    document.querySelector('div.links-container').classList.toggle('reveal');
  })
  const addObserver = (element) => {
    let observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if(entry.isIntersecting) {
          setTimeout(() => {
            entry.target.classList.add('active')
          }, 1000);
          observer.unobserve(entry.target)
        }
      })
    })
    observer.observe(element);
  }
  const scrollTrigger = (selector) => {
    let targets = Array.from(document.querySelectorAll(selector));
    console.log(targets);
    targets.forEach(target => addObserver(target));
  }
  scrollTrigger('.animate-title')
</script>