---
import Header from "../components/Header.astro";
import PhotoDisplay from "../components/PhotoDisplay.astro";
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/a-custom.png" />
		<meta name="viewport" content="width=device-width" />
    <meta name="description" content="Photo gallery for pro-climber Amity Warme." />
    <meta name="og:locale" content="en_US" />
    <meta name="og:type" content="website" />
    <meta name="og:title" content="Amity | Gallery"/>
    <meta name="og:description" content="Photo gallery for pro-climber Amity Warme." />
    <meta name="og:url" content="https://amitywarme.com/gallery" />
    <meta name="og:site-name" content="Amity Warme" />
    <meta name="og:image" content="https://github.com/connorwarme/pro-site/raw/main/src/images/gallery/a-thumbnail-2.png" />
    <meta name="og:image-width" content="1200" />
    <meta name="og:image-height" content="627" />
		<meta name="generator" content={Astro.generator} />
    <script src="../scripts/menu.js" />
		<title>Amity | Gallery</title>
	</head>
	<body>
    <div class="gallery-header-wrapper visible">
      <Header />
    </div>  
    <div class="gallery-container">
      <PhotoDisplay />
    </div>
  </body>
</html>
<style>
  .gallery-header-wrapper:first-child {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 800;
  }
  @media (hover: none) and (orientation: portrait) {
    body {
      min-height: -webkit-fill-available;
    }
  }
</style>
<script>

</script>