---
import BaseLayout from '../layouts/BaseLayout.astro';
import Wall from "../components/Wall.astro";
const bigwall = [
  {
    climb: 'El Corazon',
    grade: '5.13b',
    pitches: 32,
    style: 'ground-up',
    location: 'Yosemite',
  },
  {
    climb: 'FRIAD: Freerider In A Day',
    grade: '5.13a',
    pitches: 32,
    style: 'self-supported, no rehearsal or stashing',
    location: 'Yosemite',
  },
  {
    climb: 'Golden Gate',
    grade: '5.13a',
    pitches: 33,
    style: 'ground-up',
    location: 'Yosemite',
  }
]

const pageTitle = "Amity | Home"
const img = {
  url: "src/images/gallery/Amity_Goldengate.Lite.jpg",
  position: "75%",
}
const arrow = "src/images/icons/arrow-custom.png";
const psycho = "url(src/images/gallery/psycho.jpg)";
const turkey = "url(src/images/gallery/JohnnyLat.jpg)";
---
<BaseLayout pageTitle={pageTitle} img={img}>
  <div class="home-wrapper">
    <div class="home-title-wrapper">
      <div class="home-title-content">
        <h1>Athlete</h1>
        <h1>Dietitian</h1>
      </div>
      <div class="home-spacer">
        <div class="scroll-container">
          <a href="#athlete" aria-label="Link to Athlete">
            <img src={arrow} alt="" aria-label="Scroll Down">
          </a>
        </div>
      </div>
    </div>
    <div id="athlete" class="home-athlete-wrapper">
      <div class="home-athlete-content">
        <div class="athlete-content-simple">
          <h1>Athlete</h1>
          <h2>Achievements</h2>
          <div class="achieve-container">
            {bigwall.map((item) => <Wall climb={item} />)}
          </div>
          <div class="athlete more-wrapper">
            <a href="/athlete">
              <img src="src/images/icons/arrow-simple.svg" alt="↓">
              <p>View More</p>
            </a>
          </div>
        </div>
        <div class="athlete-img-container">
          
        </div>
      </div>
    </div>
    <div class="bg-img1"></div>
    <div class="home-dietician-wrapper">
      <div class="home-dietician-content">
        <div class="dietician-content-simple">
          <h1>Dietitian</h1>
          <h3>Fuel Well to Perform Well</h3>
          <p class="dietician-text">I want to help <em>you</em> develop a sustainable approach to fueling that empowers you in your athletic performance and encourages long-term health.</p>
          <ul class="dietician-list">
            <li>Registered Dietitian</li>
            <li>Master's in Sports Nutrition</li>
            <li>Now accepting clients!</li>
          </ul>
          <div class="dietician more-wrapper">
            <a href="/dietician">
              <img src="src/images/icons/arrow-simple.svg" alt="↓">
              <p>Learn More</p>
            </a>
          </div>
        </div>
        <div class="dietician-img-container"></div>
      </div>
    </div>
    <div class="bg-img2"></div>
  </div>
</BaseLayout>
<style define:vars={{psycho, turkey, arrow}}>
  h1 {
    font-family: "Unbound", "Playfair", Georgia, 'Times New Roman', Times, serif;
  }
  .home-wrapper {
    color: rgb(64, 64, 64);
  }
  .home-title-wrapper {
    width: 100vw;
    min-height: calc(100vh - 59px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-title-content {
    width: fit-content;
    margin: 1rem 0 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-title-content > h1 {
    color: rgb(245, 245, 245);
    text-shadow: 1px 1px 3px rgb(64, 64, 64);
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
  }
  .home-title-content > h1:first-child::after {
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 1px;
    box-shadow: 1px 1px 3px rgb(64, 64, 64);
  }
  .home-spacer {
    align-self: center;
  }
  .scroll-container {
    width: fit-content;
    transition: visibility 200ms;
  }
  .scroll-container > a > img {
    height: 60px;
    transition: all 0.3s ease-in;
  }
  .scroll-container > a:hover img {
    transform: scale(1.1);
  }
  .home-athlete-wrapper,
  .home-dietician-wrapper {
    width: 100vw;
    background-color: rgb(245, 245, 245);
  }
  .athlete-content-simple > h1,
  .dietician-content-simple > h1 {
    margin: 1rem 0 0 0;
    text-transform: uppercase;
    font-weight: 700;
  }
  .athlete-content-simple > h2,
  .dietician-content-simple > h3 {
    margin: 0;
  }
  .athlete-content-simple,
  .dietician-content-simple  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .achieve-container {
    margin: 1rem 1rem 0.5rem 1rem;
    text-align: center;
  }
  .more-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  .more-wrapper > a {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-right: 5vw;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Unbound";
    transition: all 0.25s ease-in;
    background-color: transparent;
  }
  .more-wrapper > a > p {
    color: rgb(64, 64, 64);
    height: 60px;
    font-size: 14px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: 0.25s ease-in-out;
    background-color: lightgrey;
    border-radius: 3px 0 0 3px;
    margin: 0;
    padding-left: 1rem;
    display: flex;
    align-items: center;
  }
  .more-wrapper > a:hover p {
    transform: scaleX(1);
    transform-origin: bottom right;
  }
  .more-wrapper > a > img {
    height: 60px;
    transform: rotate(-90deg);
    background-color: lightgrey;
    border-radius: 3px;
    transition: all 0.25s ease-in;
    /* added, need to confirm */
    width: 60px;
    color: rgb(64, 64, 64);
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .more-wrapper > a:hover {
    background-color: lightgrey;
  }
  .more-wrapper > a:hover img {
    border-radius: 0 0 3px 3px;
  }
  .more-wrapper > a:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 3px rgba(64, 64, 64, 0.5);
  }
  .athlete-img-container,
  .dietician-img-container {
    display: none;
  }
  .dietician.more-wrapper {
    margin-top: 0.5rem;
  }
  .dietician-text {
    margin: 0.5rem 1.5rem;
  }
  .dietician-list {
    margin: 0;
    padding-left: 20px;
  }
  .dietician-list > li {
    margin: 0;
    padding: 2px 22px;
    list-style: none;
    background-image: url(src/images/icons/list-arrow.png);
    background-repeat: no-repeat;
    background-position: left 5px;
    background-size: 20px;
  }
  .bg-img1,
  .bg-img2 {
    height: 110vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-img1 {
    /* background-image: url(src/images/gallery/psycho.jpg); */
    background-image: var(--psycho);
  }
  .bg-img2 {
    /* background-image: url(src/images/gallery/JohnnyLat.jpg); */
    background-image: var(--turkey);
  }
  @media screen and (min-width: 770px) {
    .home-title-wrapper {
      min-height: calc(100vh - 90px);
    }
    .home-title-content {
      margin: 25vh 0 0 10vw;
    }
    .home-title-content > h1 {
      font-size: 64px;
    }
    .home-athlete-content,
    .home-dietician-content {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .athlete-content-simple,
    .dietician-content-simple {
      height: 450px;
    }
    .dietician-content-simple {
      margin-right: 2vw;
    }
    .athlete-content-simple > h1,
    .athlete-content-simple > h2,
    .achieve-container,
    .dietician-content-simple > h1,
    .dietician-content-simple > h3,
    .dietician-text,
    .dietician-list {
      flex-grow: 1;
    }
    .more-wrapper > a {
      margin-right: 2vw;
    }
    .athlete-img-container,
    .dietician-img-container {
      display: block;
      height: 500px;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 1rem;
    }
    .athlete-img-container {
      background-image: url(src/images/gallery/corazon.jpg);
      grid-column: 2/4;
    }
    .dietician-img-container {
      background-image: url(src/images/gallery/SCM_220409_8994.jpg);
      grid-area: 1/1/2/3;
    }
    .dietician-content-simple {
      grid-column: 3/4;
    }
  }
</style>