---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Amity | Media</title>
	</head>
	<body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/media">Media</a></li>
      </ul>
    </nav>
		<h1>Stories, Podcasts, Recipies, and More!</h1>
    <p>Here's a bunch of my content...</p>
	</body>
</html>