---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "Amity | Media";
---

<BaseLayout pageTitle={pageTitle}>
	<h3>Stories, Podcasts, Recipies, and More!</h3>
  <p>Here's a bunch of my content...</p>
  <ul>
    {allPosts.map((post) => {
      const { title, description } = post.frontmatter;
      return <BlogPost url={post.url} title={title} description={description} />
    })}
  </ul>
</BaseLayout>