---
import Wall from "./Wall.astro";
import Pitch from "./Pitch.astro";
const bigwall = [
  {
    climb: 'El Niño',
    grade: '5.13c',
    pitches: 25,
    style: 'ground-up',
    location: 'Yosemite',
  },
  {
    climb: 'El Corazon',
    grade: '5.13b',
    pitches: 32,
    style: 'ground-up',
    location: 'Yosemite',
  },
  {
    climb: 'FRIAD: Freerider In A Day',
    grade: '5.13a',
    pitches: 32,
    style: 'self-supported, no rehearsal or stashing',
    location: 'Yosemite',
  },
  {
    climb: 'Father Time',
    grade: '5.13b',
    pitches: 20,
    style: 'ground-up',
    location: 'Yosemite',
  },
  {
    climb: 'Golden Gate',
    grade: '5.13a',
    pitches: 33,
    style: 'ground-up',
    location: 'Yosemite',
  },
  {
    climb: 'Freerider',
    grade: '5.13a',
    pitches: 31,
    style: 'ground-up',
    location: 'Yosemite',
  }
];
const multi = [
  {
    climb: 'The Honeymoon is Over',
    grade: '5.13c',
    pitches: 8,
    style: '',
    location: 'RMNP',
  },
  {
    climb: 'Stélmexw',
    grade: '5.13c',
    pitches: 5,
    style: '',
    location: 'Squamish'
  },
  {
    climb: 'Mark of the Beast',
    grade: '5.13b',
    pitches: 5,
    style: '',
    location: 'Yosemite'
  },
  {
    climb: 'Barnacle Scars',
    grade: '5.13',
    pitches: 3,
    style: 'First Ascent',
    location: 'RMNP'
  },
  {
    climb: 'Liberty Crack',
    grade: '5.13b',
    pitches: 12,
    style: '',
    location: 'North Cascades'
  }
];
const singleTrad = [
  {
    climb: 'Book of Hate',
    grade: '5.13d',
    // style: 'free, redpoint',
    location: 'Yosemite',
  },
  {
    climb: 'Stingray',
    grade: '5.13d',
    // style: 'free, redpoint',
    location: 'Joshua Tree',
  },
  {
    climb: 'Tainted Love',
    grade: '5.13d R',
    // style: 'free, redpoint',
    location: 'Squamish',
  },
    {
    climb: 'Enter the Dragon',
    grade: '5.13+ R',
    style: 'First Female Ascent',
    location: 'The Fins',
  }
];
const singleSport = [
  {
    climb: 'Sarchasm',
    grade: '5.14a',
    // style: 'free, redpoint',
    location: 'RMNP'
  },
    {
    climb: 'Vesper',
    grade: '5.13d/14a',
    // style: 'free, redpoint',
    location: 'The Fins'
  },
  {
    climb: 'Third Millenium',
    grade: '5.13d',
    // style: 'free, redpoint',
    location: 'The Monastery'
  },
  {
    climb: 'Tombraider',
    grade: '5.13d',
    // style: 'free, redpoint',
    location: 'Rifle'
  },
];

---
<section aria-label="Climbing Achievements">
  <h1>Free Climbing Achievements</h1>
  <div class="bigwall card-container">
    <h3>Big Wall</h3>
    <div class="list-container">
      {bigwall.map((item) => <Wall climb={item} />)}
    </div>
  </div>
  <div class="multi card-container">
    <h3>Multipitch</h3>
    <div class="list-container">
      {multi.map((item) => <Wall climb={item} />)}
    </div>
  </div>
  <div class="singles-wrapper">
    <div class="singleTrad card-container"> 
      <h3>Trad</h3>
      <div class="list-container">
        {singleTrad.map((item) => <Pitch climb={item} />)}
      </div>
    </div>
    <div class="singleSport card-container">
      <h3>Sport</h3>
      <div class="list-container">
        {singleSport.map((item) => <Pitch climb={item} />)}
      </div>
    </div>
  </div>
</section>
<style>
  section {
    margin: 0 0 100px 0;
    padding-top: 1rem;
    width: 100vw;
    background-color: whitesmoke;
    text-align: center;
  }
  section > div {
    margin: 0;
    padding: 0;
  }
  h1 {
    text-align: center;
  }
  h3 {
    font-family: "Unbound", "Playfair", Georgia, 'Times New Roman', Times, serif;
  }
  .card-container {
    margin: 1vh 2vw;
  }
  .singles-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
  .singleTrad, 
  .singleSport {
    margin: 0 70px 0 70px;
  }
  .list-container {
  }
</style>
