---
import Social from "./Social.astro";
import insta from "../images/icons/instagram.svg";
import fb from "../images/icons/facebook.svg";

---

<footer>
  <a href="#top" class="back-top">Back to Top</a>
  <div class="sm-container">
    <Social platform="instagram" username="amity.warme" image={insta} />
    <Social platform="facebook" username="amity.martin" image={fb} />
  </div>
  <div class="copyright">Copyright &#169 2024 Amity Warme</div>
  <div class="built">Built by 
    <a href="https://github.com/connorwarme" target="_blank" rel="noreferrer">Connor Warme</a>
  </div>
</footer>

<style>
  footer {
    background-color: rgb(245, 245, 245);
    color: rgb(64, 64, 64);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }
  .back-top,
  .built a {
    font-family: "Unbound";
    color: rgb(64, 64, 64);
    text-decoration: none;
    text-transform: uppercase;
  }
  .copyright {
    font-size: 0.85rem;
  }
  .built {
    width: 100%;
    text-align: center;
    border-top: 2px solid rgba(64, 64, 64, 0.7);
    margin-top: 0.5rem;
    padding-top: 0.5rem;
  }
  @media screen and (min-width: 770px) {
    footer {
      padding: 2rem 4rem;
    }
    .built {
      margin-top: 1rem;
      padding-top: 1rem;
    }
    .copyright {
      font-size: 1rem;
    }
  }
</style>