---
import Social from "./Social.astro";
const insta = "../src/images/icons/instagram.svg"
const fb = "../src/images/icons/facebook.svg"
---

<footer>
  <a href="#top" class="back-top">Back to Top</a>
  <div class="sm-container">
    <Social platform="instagram" username="amity.warme" image={insta} />
    <Social platform="facebook" username="amity.martin" image={fb} />
  </div>
</footer>

<style>
  footer {
    background-color: rgb(64, 64, 64);
    display: flex;
    padding: 2rem;
    width: 100%;
  }
</style>