---
import Hamburger from "./Hamburger.astro";
import Nav from "./Nav.astro";
---

<header>
  <div class="mobile-box">
    <h1 class="header-name">Amity Warme</h1>
    <Hamburger />
  </div>
  <Nav />
</header>
<style>
  header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Unbound", Georgia, 'Times New Roman', Times, serif;
  }
  /* header needs to be regular flex direction^^ on desktop mode */
  .mobile-box {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-name {
    margin: 1rem 2rem;
    text-transform: uppercase;
    font-size: 18px;
  }
  header:last-child {
    display: none;
  }
</style>