---
const flareURL = "../src/images/icons/biner.png";
const { item } = Astro.props;

// not using this currently, had built for Dietician page
---

<li>
  <img src={flareURL}>
  <p>{item}</p>
</li>
<style>
  li {
    display: flex;
  }
  img {
    height: 20px;
  }
  p {
    margin: 0;
  }
</style>
