---
const flareURL = "../src/images/icons/flare-custom.png";
const { item } = Astro.props;
---

<li>
  <img src={flareURL}>
  <p>{item}</p>
</li>
<style>
  li {
    display: flex;
  }
  img {
    height: 20px;
  }
  p {
    margin: 0;
  }
</style>