---
import golden from "../images/gallery/Amity_Goldengate.Lite.jpg";
import barnacle from "../images/gallery/Shaffer_Taylor-17.Lite.jpg";
import wolverine from "../images/gallery/Wolverine.Lite.jpg";

const images = [golden, barnacle, wolverine]
const photoArray = Astro.props.array;

const testArray = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
const nextClick = (current) => {
  // set current img display to none
  // set next img display to block
  // update current image (on gallery..?)
}
const backClick = () => {
  console.log('previous photo!')
}
---
<section aria-label="Photo Gallery">
  <div class="gallery">
    <button class="gallery-button prev">&#8656;</button>
    <button class="gallery-button next">&#8658;</button>
    <ul>
      {images.map((image) => (
        <li class="slide">
          <img src={image} alt='' />
        </li>
      ))}
    </ul>
  </div>
</section>
<style>

</style>
