---
const photoArray = Astro.props.array;
const one = {
  text: '',
  src: photoArray[0],
  alt: 'first photo in array',
  next: null,
  back: null,
}
const two = {
  text: '',
  src: photoArray[1],
  alt: 'second photo in array',
  next: null,
  back: null,
}
const three = {
  text: '',
  src: photoArray[2],
  alt: 'third photo in array',
  next: null,
  back: null,
}
one.next = two
one.back = three
two.next = three
two.back = one
three.next = one
three.back = two

const nextClick = (current) => {
  // set current img display to none
  // set next img display to block
  // update current image (on gallery..?)
}
const backClick = () => {
  console.log('previous photo!')
}
---

<div class="gallery-container">
  <div class="gallery">
    <button>Back</button>
    {[one, two, three].map((image) => (
      <div class="image-card">
        <img src={image.src} alt={image.alt}>
      </div>
    ))}
    <button>Next</button>
  </div>
</div>
<style>
  .gallery {
    display: flex;
    justify-content: center;
  }
  .image-card > img {
    display: none;
    width: 700px;
  }
  .image-card:nth-child(2) > img {
    display: block;
  }
</style>
