---
import golden from "../images/gallery/Amity_Goldengate.Lite.jpg";
import barnacle from "../images/gallery/Shaffer_Taylor-17.Lite.jpg";
import wolverine from "../images/gallery/Wolverine.Lite.jpg";

const images = [golden, barnacle, wolverine]
const photoArray = Astro.props.array;
const array = [
  {
    src: golden,
    alt: 'Amity on Golden Gate',
    caption: 'The A5 Traverse',
    location: 'El Capitan, Yosemite',
    credit: {
      name: 'Felipe',
      site: 'url',
    }
  },
  {
    src: barnacle,
    alt: 'Amity on Barnacle Scars',
    caption: 'Barnacle Scars',
    location: `Ship's Prow, RMNP`,
    credit: {
      name: 'Taylor Schaffer',
      site: 'url',
    }
  },
  {
    src: wolverine,
    alt: 'Amity onsighting Wolverine',
    caption: 'Onsighting Wolverine (13-)',
    location: 'The Waterfall, Sedona',
    credit: {
      name: 'JP',
      site: 'url',
    }
  }
]
---
<section aria-label="Photo Gallery">
  <div class="gallery" data-gallery>
    <button class="gallery-button prev" data-gallery-button="prev">&#8656;</button>
    <button class="gallery-button next" data-gallery-button="next">&#8658;</button>
    <ul data-slides>
      {array.map((image) => (
        <li class="slide">
          <img src={image.src} alt='' />
          <div class="credit-container">
            <p>{image.caption}</p>
            <p>{image.location}</p>
            <p>{image.credit.name}</p>
          </div>
        </li>
      ))}
    </ul>
  </div>
</section>
<style>
*::before, *::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.gallery {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.gallery-button {
  position: absolute;
  z-index: 8;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 0 .5rem .5rem .5rem;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.15);
}
.gallery-button:hover,
.gallery-button:focus {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.25);
}
.gallery-button:focus {
  outline: 1px solid black;
}
.gallery-button.prev {
  left: 1rem;
}
.gallery-button.next {
  right: 1rem;
}
.gallery > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 250ms opacity ease-in-out;
  transition-delay: 150ms;
}
.slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
}
.slide > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.credit-container {
  position: absolute;
  bottom: 0;
  padding: 2rem;
}
.credit-container > p {
  margin: 0;
  padding: 1px 5px;
  font-weight: 600;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.5);
}
</style>
<script defer>
  const initialActive = document.querySelector('li.slide');
  initialActive.setAttribute('data-active', '');
  const nextBtn = document.querySelector('button.next');
  const prevBtn = document.querySelector('button.prev')

  const changeSlide = (button) => {
    const offset = button.dataset.galleryButton === 'next' ? 1 : -1;
    const slides = button
      .closest('[data-gallery]')
      .querySelector('[data-slides]')
    const activeSlide = slides.querySelector('[data-active]')
    let newIndex = [...slides.children].indexOf(activeSlide) + offset
    if (newIndex < 0) newIndex = slides.children.length - 1
    if (newIndex >= slides.children.length) newIndex = 0
    console.log([newIndex, activeSlide, slides])
    slides.children[newIndex].dataset.active = true;
    delete activeSlide.dataset.active
  }
  nextBtn.addEventListener('click', () => changeSlide(nextBtn))
  prevBtn.addEventListener('click', () => changeSlide(prevBtn))
</script>