---
const photoArray = Astro.props.array;

const testArray = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
const nextClick = (current) => {
  // set current img display to none
  // set next img display to block
  // update current image (on gallery..?)
}
const backClick = () => {
  console.log('previous photo!')
}
---

<div class="gallery-container">
  <div class="gallery">
    <button>Back</button>
    <div class="slides">
      {testArray.map((item) => (
        <div class="slide">
          {item}
        </div>
        ))}
    </div>
    <button>Next</button>
  </div>
</div>
<style>
  .gallery {
    display: flex;
    justify-content: center;
  }
  .slides > .slide {
    position: absolute;
    background-color: slategray;
    height: 100%;
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px solid orangered;
    transition: all 0.25s;
    transform: translateX(200%);
  }
  .slide.prev {
    z-index: 10;
    transform: translateX(-100%);
  }

  .slide.current {
    z-index: 10;
    transform: translateX(0);
  }

  .slide.next {
    z-index: 10;
    transform: translateX(100%);
  }
</style>
