---
const { climb, grade, style, location } = Astro.props.climb; 
const styleText = style ? `, ${style}` : '';
---
<p><em>{climb}</em>, {grade}{styleText}</p>
<style>
  em {
    font-size: 20px;
  }
</style>