---
const { climb, grade, style } = Astro.props.climb; 
---
<div>
  <p><em>{climb}</em>, {grade}</p>
  { style ? <p>{style}</p> : null }
</div>
<style>
  div {
    margin-bottom: 1rem;
  }
  p {
    margin: 0;
  }
</style>
