---
const { platform, username, image } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`} target="_blank" rel="noreferrer">
  <img class="sm-icon" src={image} alt={platform} >
</a>

<style>
  a {
    text-decoration: none;
  }
  img {
    height: 50px;
    /* background-color: rgb(254, 7, 62); */
    padding: 0.5rem 1rem;
    border-radius: 3px;
  }
</style>