---
import arc from '../images/logo/arc.png'
import camp from '../images/logo/camp-logo.png'
import scarpa from '../images/logo/scarpa-logo.png'
import sterling from '../images/logo/sterling-logo.svg'
import enduro from '../images/logo/enduro.png'
import totem from '../images/logo/totem.png'
import g7 from '../images/logo/g7-logo.png'
import physi from '../images/logo/physi.png'
const sponsors = [
{
    name: `Arc'teryx`,
    url: 'https://arcteryx.com/',
    img: {
      url: arc,
      alt: `Arc'teryx Logo`,
      size: '70px',
    },
  },
    {
    name: 'CAMP',
    url: 'https://www.camp.it/d/us/us/outdoor',
    img: {
      url: camp,
      alt: 'CAMP Logo',
      size: '30px',
    },
  },
  {
    name: 'Scarpa',
    url: 'https://us.scarpa.com/',
    img: {
      url: scarpa,
      alt: 'Scarpa Logo',
      size: '30px',
    },
  },
  {
    name: 'Sterling',
    url: 'https://sterlingrope.com/',
    img: {
      url: sterling,
      alt: 'Sterling Logo',
      size: '40px',
    },
  },
  {
    name: 'Enduro Bites',
    url: 'https://endurobites.com/',
    img: {
      url: enduro,
      alt: 'Enduro Bites Logo',
      size: '45px',
    },
  },
  {
    name: 'Totem MT',
    url: 'https://www.totemmt.com/',
    img: {
      url: totem,
      alt: 'Totem Logo',
      size: '40px',
    },
  },
  {
    name: 'Grade VII',
    url: 'https://www.grade7.com/',
    img: {
      url: g7,
      alt: 'G7 Logo',
      size: '55px',
    },
  },
  {
    name: 'Physivantage',
    url: 'https://physivantage.com/',
    img: {
      url: physi,
      alt: 'Physivantage Logo',
      size: '45px',
    },
  },
]
---
<section class="sponsors-section">
  <h2>Sponsors</h2>
  <div class="sponsors-wrapper">
    {sponsors.map((sponsor) => (
      <div class="sponsor-container">
        <a href={sponsor.url} target="_blank">
          <img src={sponsor.img.url} alt={sponsor.img.alt} height={sponsor.img.size}>
        </a>
      </div>
      ))}
  </div>
</section>

<style>
  .sponsors-section {
    background-color: black;
    color: white;
    width: 100vw;
    text-align: center;
    padding: 4vh 0;
    margin-top: 45vh;
  }
  h2 {
    text-transform: uppercase;
    font-family: "Unbound", "Playfair", Georgia, 'Times New Roman', Times, serif;
  }
  .sponsors-wrapper {
    padding: 20px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .sponsor-container {
    padding: 20px;
  }
</style>
