---
const array = Astro.props.array;
---
<div class="tag-index-container">
  {array.map((tag) => (
    <a class="tag-item" href={`/tags/${tag}`}>{tag}</a> 
    ))}
</div>
<style>
.tag-index-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  visibility: hidden;
}
.tag-item {
  margin: 0.25em;
  border: dotted 1px rgb(161, 161, 161);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1em;
  color: rgb(64, 64, 64);
  background-color: #f8fcfd;
  transition: all .3s ease-in;
}
.tag-item:hover {
  border: 1px solid rgb(64, 64, 64);
  background-color: rgba(161, 161, 161, 0.3);
}
.tag-item:active {
  transform: scale(0.97);
  box-shadow: 1px 1px rgb(64, 64, 64);
}
.tag-item:focus {
  color: rgb(64, 64, 64);
}
</style>